<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:3</td>
          <td>{{ nombre | slice: 3 }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:0:3</td>
          <td>{{ nombre | slice: 0:3 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice:1:5</td>
          <td>{{ arreglo | slice: 1:5 }}</td>
        </tr>
        <tr>
          <td>{{ personajes }}</td>
          <td>slice:1:4</td>
          <td>{{ personajes | slice: 1:4 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number: '3.0-0'</td>
          <td>{{ PI | number: "3.0-0" }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number: '.0-2'</td>
          <td>{{ PI | number: ".0-2" }}</td>
        </tr>

        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ porcentaje | percent: "2.2-2" }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje2 }}</td>
          <td>percent:'3.2-2'</td>
          <td>{{ porcentaje2 | percent: "3.2-2" }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'EUR'</td>
          <td>{{ salario | currency: "EUR" }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency: 'CAD':"symbol-narrow":".0-0"</td>
          <!-- <td>{{ salario | currency: "LMP ":"symbol":".0-0" }}</td> -->
          <td>{{ salario | currency: "CAD":"symbol-narrow":".0-0" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h3>Slice</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of personajes | slice: 3:20">
    {{ item }}
  </li>
</ul>

<h3>JSON</h3>
<hr />
<div class="row mb-5">
  <div class="col">
    <pre>
       {{ heroe | json }}
    </pre>
   
  </div>
</div>
